* {
  box-sizing: border-box;
}

@font-face {
  font-family: RealTextProRegular;
  src: url("fonts/Real Text Pro/RealTextPro-Regular.otf")
    format(opentype);
}
@font-face {
  font-family: RealTextProBold;
  src: url("fonts/Real Text Pro Bold/RealTextPro-Bold.otf")
    format(opentype);
}
@font-face {
  font-family: RealTextProMedium;
  src: url("fonts/Real Text Pro Medium/RealTextPro-Medium.otf")
    format(opentype);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #000000;
  background-color: #ffffff;
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 1vh 5vw;
}

#title {
  font-family: RealTextProBold, Helvetica Bold, sans-serif;
  font-size: 30px;
}

h1,
p {
  margin: 0;
}

#description {
  font-family: RealTextProRegular, Helvetica, sans-serif;
  font-size: 15px;
  text-align: right;
  width: 14vw;
}

#map {
  position: fixed;
  top: 10vh;
  left: 0;
  height: 80vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #000000;
}

footer {
  font-family: RealTextProMedium, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #000000;
  background-color: #ffffff;
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 1vh 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer button,
footer a {
  font-family: RealTextProMedium, Helvetica, sans-serif;
  font-size: 24px;
  color: #000000;
  background-color: #ffffff;
  border: 0px;
  cursor: pointer;
  text-align: left;
}

.hidden {
  display: none;
}

#map #popup a {
  color: #3f964a;
}

#map #popup img {
  width: 100%;
  height: auto;
}

/* Media queries */

/* tablet and mobile */
@media only screen and (max-width: 1077px) {
  #title {
    font-size: 18px;
  }

  #description {
    font-size: 15px;
    width: 22vw;
  }
}

/* Mobile */

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
  }

  #title {
    font-size: 18px;
  }

  #description {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

  footer button,
  footer a {
    font-size: 24px;
  }

  footer {
    padding: 2vh 2vw;
  }
}

/* mobile landscape */

@media only screen and (max-height: 550px) and (orientation: landscape) {
  #description {
    width: 40vw;
  }
  header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 2vw;
  }
}
