/* Global */
* {
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: RealTextProRegular;
  src: url("fonts/Real Text Pro/RealTextPro-Regular.otf")
    format(opentype);
}
@font-face {
  font-family: RealTextProBold;
  src: url("fonts/Real Text Pro Bold/RealTextPro-Bold.otf")
    format(opentype);
}
@font-face {
  font-family: RealTextProMedium;
  src: url("fonts/Real Text Pro Medium/RealTextPro-Medium.otf")
    format(opentype);
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #000;
  background-color: #fff;
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 1vh 5vw;
  line-height: 1.5;
}

#title {
  font-family: RealTextProBold, Helvetica Bold, sans-serif;
  font-size: 40px;
}

h1,
p {
  margin: 0;
}

#description {
  font-family: RealTextProRegular, Helvetica, sans-serif;
  font-size: 30px;
  text-align: right;
}

/* Map */
#map {
  position: fixed;
  top: 10vh;
  left: 0;
  height: 80vh;
  width: 100vw;
}

/* Links */
a {
  text-decoration: none;
  color: #000;
}

/* Footer */
footer {
  font-family: RealTextProMedium, Helvetica, sans-serif;
  background-color: #fff;
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 1vh 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer button,
#counter {
  font-size: 40px;
  color: #000;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  text-align: left;
}

/* Hidden Elements */
.hidden {
  display: none;
}

/* Popup */
#popup {
  font-family: RealTextProRegular, Helvetica, sans-serif;
  background-color: #ebebeb;
  position: fixed;
  top: 10vh;
  left: 50vw;
  height: 80vh;
  width: 50vw;
  z-index: 2;
}

#popup h1 {
  font-size: 50px;
  padding: 5vh 3vw 1vh 3vw;
}

#popup p,
#popup a {
  font-size: 25px;
  line-height: 28px;
  padding-top: 2vh;
}

#popup div {
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

#popup img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  padding: 3vw;
  position: absolute;
  top: calc(60vh - 300px);
  right: 2vw;
  filter: grayscale(100%);
  border-radius: 20%;
}

#popup a {
  color: #3f964a;
}

#popup svg {
  width: 200px;
  height: 200px;
  padding: 3vw;
  position: absolute;
  top: 60vh;
  left: 0;
}

#popup #checkbox-container svg {
  padding: 3vw;
  position: absolute;
  top: calc(60vh - 300px);
  left: 0;
}

/* Media Queries */
@media only screen and (max-width: 1077px) {
  /* Tablet and Mobile */
  #title {
    font-size: 18px;
  }

  #description {
    font-size: 15px;
    width: 22vw;
  }

  #popup {
    top: 10vh;
    left: 0;
    width: 100vw;
    z-index: 2;
  }

  #popup h1,
  #popup h2 {
    font-size: 30px;
    padding: 5vh 5vw 1vh 5vw;
  }

  #popup p,
  #popup a,
  #popup label {
    font-size: 20px;
  }

  #popup div {
    padding: 0 5vw;
    justify-content: space-around;
  }

  #popup img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    padding: 0;
    position: absolute;
    top: 42vh;
    left: 38vw;
  }

  #popup svg {
    width: 100px;
    height: 100px;
    padding: 0;
    position: absolute;
    top: 55vh;
    left: 5vw;
  }

  #popup #checkbox-container svg {
    width: 100px;
    height: 100px;
    padding: 3vw;
    position: absolute;
    top: 35vh;
  }
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  header {
    display: none;
  }

  #map {
    top: 0;
  }

  /* popup on mobile */

  #popup {
    top: 0;
  }

  #popup h1,
  #popup h2 {
    font-size: 40px;
    padding: 5vh 5vw 0vh 5vw;
  }

  #popup p,
  #popup a {
    font-size: 20px;
    line-height: 25px;
    padding-top: 2vh;
    text-align: left;
  }

  #popup div {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
  }

  #popup img {
    width: 200px;
    height: 200px;
    padding: 5vw;
    top: 40vh;
    left: 0vw;
    filter: grayscale(100%);
  }

  #popup a {
    color: #3f964a;
  }

  #popup svg {
    width: 100px;
    height: 100px;
    padding: 5vw;
    top: 65vh;
    left: 0vw;
  }

  #popup #checkbox-container svg {
    width: 100px;
    height: 100px;
    padding: 5vw;
    position: absolute;
    left: unset;
    right: 0;
    top: 65vh;
  }

  footer button,
  #counter {
    font-size: 25px;
  }

  footer {
    height: 20vh;
    padding: 2vh 5vw;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media only screen and (max-height: 550px) and (orientation: landscape) {
  /* Mobile Landscape */
  #description {
    width: 60vw;
  }

  footer button {
    font-size: 12px;
  }
}
